.background{
    
    .top{
        position: absolute;
        top: 750px;
        left: 0px;
        z-index: -1;


        img{
            width: 100vw;
            height: 1702px;
        }
    }

    .mid{
        position: absolute;
        left: 1389;
        top: 2000px;
        z-index: -1;

        img{
            width: 100vw;
            height: 2785px;
        }
    }
}