
.form_block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    h2 {
        span{

            color: $org_title;
            font-style: italic;
            font-weight: bold;
            font-size: 42px;
        }
        margin: 0 0 25px 0;
        font-style: italic;
        font-weight: bold;
        font-size: 42px;
    }

    .form_part {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1180px;
        height: 794px;
        border-radius: 20px;
        background-color: rgba(201, 201, 201, 0.64);


        .deco{
            .circle--1{
                position: absolute;
                width: 304px;
                height: 304px;
                left: 1150px;
                top: 850px;
                border-radius: 50%;
                background: linear-gradient(180deg, #ED4502 0%, #EA7820 100%);
                z-index: -1;
            }

            .circle--2{
                position: absolute;
                width: 304px;
                height: 304px;
                left: 30px;
                top: 1580px;
                border-radius: 50%;
                background: linear-gradient(180deg, #ED4502 0%, #EA7820 100%);
                z-index: -1;
            }
        }


        form {
            height: 600px;
            width: 800px;

            .form__groupe--1{
                display: flex;
                justify-content: space-around;
                gap: 1rem;
                margin-bottom: 110px;

                .left{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 67px;
                }
            }

            .form__groupe--2{
                display: flex;
                justify-content: space-around;
                margin-bottom: 60px;

                .left{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 67px;
                }

                .right{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 67px;
                }
            }

            .input_form{
                border: none;
                outline: none;
                font-style: italic;
                font-weight: bold;

                width: 229px;
                height: 36px;

                font-size: 24px;
                font-weight: bold;
                background: transparent;
                color: rgba(138, 127, 127, 0.7);
                
                border-bottom: 2px solid #000;
                padding-bottom: 10px 0;
            }

            .btn{
                position: relative;
                right: -300px;

                .btn__form{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 317px;
                    height: 72px;

                    border: none;
                
                    color: #fff;    
                    background: linear-gradient(90.55deg, #EA7820 11.73%, #ED4502 90.78%);
                    
                    border-radius: 10px;
    
                    
                }
            }

        }
    }
}