.main {
    background-image: url("./img/pole.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;

    header {
        width: 100%;
        height: 70px;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4) 100%);

        .container {
            width: 100%;
            height: 100%;
            padding: 20px 55px;

            img {
                width: 32px;
            }
        }
    }

    .pole {
        .presentation {
            width: 683px;
            height: 643px;
            background: rgba(255, 255, 255, 0.7);
            padding: 2rem 4rem;
            margin: 30px 130px;

            .head {
                display: flex;
                align-items: center;
                gap: 4.5rem;
                margin-bottom: 5rem;

                h1 {
                    font-size: 2rem;
                    color: $org_title;
                    font-style: italic;
                    font-weight: bold;
                }
            }

            .cursus_block {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 25px;
                margin-bottom: 5rem;

                p {
                    font-style: italic;
                    font-weight: bold;
                    font-size: 1.5rem;
                    color: $org_title;
                }
            }

            .btns {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 4.5rem;

                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 250px;
                    height: 50px;
                    left: 97px;
                    top: 686px;
                    font-style: italic;
                    font-weight: bold;

                    background: linear-gradient(90.55deg, #EA7820 11.73%, #ED4502 90.78%);
                    
                    border-radius: 10px;

                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
}

.form_block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin: 0 0 2rem 0;
    }

    .form_part {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1150px;
        height: 800px;
        background-color: rgba(201, 201, 201, 0.64);

        form {
            height: 600px;
            width: 800px;

        }
    }
}

.admission_h2 {
    font-size: 42px;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

.admission_block {
    padding: 55px 130px;
    height: 1444px;
    background-color: rgba(229, 223, 223, 0.6);

    .admission_title {
        display: flex;
        justify-content: center;
        margin-bottom: 55px;
        font-size: 2rem;
        font-weight: bold;
        color: #EA7820;
    }

    .admission_profile {
        width: 700px;

        .adm_profile_ttl {
            @include adm_part_ttl;
        }

        .adm_profile_txt {
            font-weight: bold;
        }
    }

    .adm_first_line {
        display: flex;
        justify-content: space-between;
        margin: 4.5rem 0 3rem 0;

        .adm_1 {
            width: 500px;

            .adm_1_ttl {
                @include adm_part_ttl;
            }

            .adm_1_txt {
                font-weight: bold;
            }
        }

        .adm_2 {
            width: 500px;

            .adm_2_ttl {
                @include adm_part_ttl;
            }

            .adm_2_txt {
                font-weight: bold;
            }
        }
    }

    .adm_second_line {
        display: flex;
        justify-content: space-between;
        margin: 3rem 0;

        .adm_restart {
            width: 500px;

            .adm_restart_ttl {
                @include adm_part_ttl;
            }

            .adm_restart_txt {
                font-weight: bold;
            }
        }

        .adm_4 {
            width: 500px;

            .adm_4_ttl {
                @include adm_part_ttl;
            }

            .adm_4_txt {
                font-weight: bold;
            }
        }
    }

    .adm_third_line {
        display: flex;
        justify-content: space-between;
        margin: 6.5rem 0;

        .adm_cursus {
            width: 500px;

            .adm_cursus_ttl {
                @include adm_part_ttl;
            }

            .adm_cursus_txt {
                font-weight: bold;
            }
        }

        .adm_MBA {
            width: 500px;

            .adm_MBA_ttl {
                @include adm_part_ttl;
            }

            .adm_MBA_txt {
                font-weight: bold;
            }
        }
    }

    .adm_Mana {
        margin: 6.5rem auto;
        width: 500px;

        .adm_Mana_ttl {
            @include adm_part_ttl;
        }

        .adm_Mana_txt {
            font-weight: bold;
        }
    }
}


.orange{
    color: #EA7820;
}

.cursus{
    h2{
        text-align: center;
        margin-bottom: 5%;
    }
    h3{
        color: #EA7820;
        text-align: center;
    }
    h4{
        text-align: center;
        margin-bottom: 4%;
    }
    .com{
        display: flex;
        .img1{
            text-align: center;
            img{
                margin-top: 15%;
            }
        }
        width: 100%;
        justify-content: space-around;
        .text1{
            .stext{
                
            }
        }
    }
    .web{
        margin-top: 5%;
        display: flex;
        .img2{
            text-align: center;
            img{
                margin-top: 15%;
            }
        }
        justify-content: space-around;
    }
    .crea{
        margin-top: 5%;
        display: flex;
        .img3{
            text-align: center;
            img{
                margin-top: 15%;
            }
        }
        justify-content: space-around;
    }

    .troisd{
        margin-top: 5%;
        display: flex;
        .img4{
            text-align: center;
            img{
                margin-top: 15%;
            }
        }
        justify-content: space-around;
    }

    .jv{
        margin-top: 5%;
        display: flex;
        .img5{
            text-align: center;
            img{
                margin-top: 15%;
            }
        }
        justify-content: space-around;
    }

    p{
        font-weight: bold;
    }
}